{%extends "homepage/header.html" %}

{% block content %}
    {% if user.username == event.submitter %}
        <form method="post">
        {% csrf_token %} <!--makes sending data more secure-->
    	<div class="container fluid">
    		<h1>Delete Event</h1>
    		<h2>Are you sure you want to event "{{ event.title }}"?</h2>
    		<br>
    		<div class = "form-group">
        		<button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
        		<a class="btn btn-outline-secondary" href="/">Cancel</a>
    		</div>
    	</div>
    </form>
    {% endif %}
{% endblock %}
