<!DOCTYPE html>
<html lang="en">

<head>
    {% if title %}
        <title>GRO Biotech - {{title}}</title>
    {% else %}
    	<title>NYC Events by GRO Biotech</title> <!-- This is tab name -->
	{% endif %}
	<meta charset="utf-8"/>
	{% load staticfiles %}
	<link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}" type='text/css'/> <!-- Loads css template for whole webpage -->
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
	<link rel="shortcut icon" type="image/png" href="{% static '/images/homepage/GRO_tab-icon.png' %}" />
</head>

<nav class="navbar navbar-light" style="background-color: #f0f0f0;"> <!--dummy navbar to keep body in place-->
</nav>

<nav class="navbar fixed-top navbar-light" style="background-color: #f0f0f0;">
	<a class="navbar-brand" href="/">
		<img src= "{% static '/images/homepage/GROlogo_transparent.svg' %}" width="100" height="30" alt="GRO logo">
  	</a>
	<div class="btn-group" role="group" aria-label="Basic example">
  		<button type="button" class="btn btn-secondary" onclick="location.href = '/create';">Submit Event</button>
		<!--<button type="button" class="btn btn-secondary" data-toggle="popover" title="Sign-up" data-content="Email here">Newsletter sign-up</button>-->
		<button type="button" class="btn btn-secondary" onclick="location.href = '/login';">Login</button>
		<button type="button" class="btn btn-secondary" onclick="location.href = '/signup';">Register</button>
	</div>

	<form class="logout-link" action="{% url 'gro_logout' %}" method="post">
    		{% csrf_token %}
    		{% if user.is_authenticated %}
        		<button class="btn btn-outline-secondary" type="submit">Logout</button>
    		{% endif %}
    </form>
	
</nav>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="col">  
			<div class='container-fluid'>
				
				<br><br>
			   {% block content %}
			   {% endblock %}	
			</div>
		  </div>
	</div> 
	<footer>
		<div class="container-fluid" style='margin-left:0px'> <!--Changing the margins may cause horizontal bar to appear-->
			<p><a href="/contact" target="blank">Contact</a></p>
		</div>
	</footer>
	
	<!--scripts are to initialize popovers to the forms-->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	<script>
		$(function () {
			$('[data-toggle="popover"]').popover()
		})
	</script>
</body>



</html>

