{%extends "homepage/header.html" %}

    {% block content %}
        <form method="post">
            <div class="container fluid">
        		<h1>Enter new password</h1>
        		<br>
        		<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        		{% csrf_token %} <!--makes sending data more secure-->
        		{{ form.as_p }} <!--write the form as paragraph-->
            	
        		<button type"submit">Submit</button>
        	</div>
    	</form>

    {% endblock %}
